.blueAccent {
  color: #577DE0;
}
.section {
  margin: 60px 50px;
}

.heroContainer {
  display: grid;
  grid-template-columns: 800px 1fr;
  margin-top: 50px;
}
.heroIntroContainer {
  display: flex;
  flex-direction: column;
}
.heroIntro {
  letter-spacing: 2;
  text-shadow: 3px 3px black,
    7px 7px 3px hsla(230, 100%, 50%, 1);
  font-size: clamp(3em,7em,14em);
  margin: 0;
}

.heroSmallContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 30% 50%;
  grid-column-start: 1;
  grid-row-start: 2;
  margin-top: 50px;
}
.heroSmallContainer {
  display: flex;
}
.heroSmallButton {
  padding: 15px 20px;
  background: white;
  color: black;
  border-radius: 20px;
  font-size: 1.2em;
  margin-right: 1em;
}
.heroSmallContent {
  font-size: "1em";
}
