body {
  --site-backgorund-color: #111;
  --font-color: #e1e1e1;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--site-backgorund-color);
  color: var(--font-color);
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Anton', sans-serif; 
}

p {
  font-family: 'Manrope', sans-serif;
}

