.navigation {
  display: grid;
  grid-template-columns: 40% 1fr 40%;
}

ul {
  display: flex;
  list-style-type: none;
}

.navigation .first {
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.navigation .second {
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.navigation a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 16px;
}

.navigation ul li a:visited {
  color: var(--font-color);
}

.navigation li:not(:last-child) {
  margin-right: 5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 2em;
  font-weight: 900;
}
