.normal-navigation {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

ul {
  display: flex;
  list-style-type: none;
}

.first, .second {
  font-size: 1em;
  font-family: "Manrope";
}


.normal-navigation .first {
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.normal-navigation .second {
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.normal-navigation a:not(.logo) {
  color: var(--font-color);
  text-decoration: none;
  font-size: 16px;
}

.normal-navigation ul li a:visited {
  color: var(--font-color);
}

.normal-navigation li:not(:last-child) {
  margin-right: 5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: "Anton";
  font-size: 2em;
  color: white;
  text-decoration: none;
}

.menu-button {
  font-size: 1.4em;
  font-family: "Anton";
  border-radius: 64px;
  padding: 10px 25px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.2s;
}

.menu-button:hover {
  transform: scale(1.1)
}

.menu-page {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background-color: black;
}

.menu-page nav {
  display: flex;
  flex-direction: column;
  font-size: 9em;
}

.menu-page nav a {
  text-decoration: none;
  color: #577DE0;
  text-transform: uppercase;
  letter-spacing: -4px;
}

.menu-page-nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.menu-container {
  margin: 40px 50px;
}

.exit-button {
  cursor: pointer;
}

.active-word {
  font-size: 16em;
  position: absolute;
  color: transparent;
  -webkit-text-stroke: white;
  -webkit-text-stroke-width: 1px;
  bottom: 0;
  right: 50px;

}
